{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}]
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ]
}
